{% extends "base.html" %}

{% block title %}Cadastrar chave | KeyProtect{% endblock %}

{% block content %}

<section class="titulo-pagina">
    <h2>Cadastrar chave</h2>
    <p>Inclua uma nova chave no sistema. O código será gerado automaticamente após o cadastro.</p>
</section>

<section class="form-box form-chave-box">
    <form method="POST">
        <div class="form-grid form-grid-chave">

            <div class="campo-form">
                <label for="local">Local / Sala</label>
                <input 
                    type="text" 
                    id="local" 
                    name="local" 
                    placeholder="Ex: Sala 201, Laboratório de Mecânica..."
                    required
                >
            </div>

            <div class="campo-form">
                <label for="tipo">Tipo de ambiente</label>
                <select id="tipo" name="tipo" required>
                    <option value="">Selecione o tipo</option>
                    <option value="sala_aula">Sala de aula</option>
                    <option value="laboratorio">Laboratório</option>
                    <option value="administrativo">Administrativo</option>
                </select>
            </div>

            <div class="campo-form">
                <label for="andar">Andar</label>
                <select id="andar" name="andar">
                    <option value="">Não se aplica</option>
                    <option value="1">1º andar</option>
                    <option value="2">2º andar</option>
                </select>
            </div>

            <div class="campo-form campo-descricao">
                <label for="descricao">Descrição / observação</label>
                <textarea 
                    id="descricao" 
                    name="descricao" 
                    placeholder="Ex: Chave da sala principal, armário, laboratório, coordenação..."
                ></textarea>
            </div>

        </div>

        <div class="acoes-form acoes-chave">
            <div>
                <button type="submit" class="btn btn-principal">Cadastrar chave</button>
                <a href="{{ url_for('chaves') }}" class="btn btn-secundario">Voltar</a>
            </div>
        </div>

    </form>
</section>


{% endblock %}
